.card_div {

    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards_best {

    width: 28%;
    transition: all 0.7s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    user-select: none;
    cursor: pointer;
}

.cards_best_img {

    width: 100%;
    height: 460px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

.cards_best:hover {

    transform: translateY(-10px);
}

.img_plant {

    width: 100%;
    object-fit: cover;
    height: 100%;
}

.cards_details {

    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.cards-btn-mid {

    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1299px) {
    
    .cards_best_img {

        height: 400px;
    }
}

@media screen and (max-width: 1099px) {
    
    .cards_best_img {

        height: 350px;
    }
}

@media screen and (max-width: 991px) {
    
    .cards_best {

        width: 30%;
    }    
    
}

@media screen and (max-width: 767px) {
    
    .cards_details {

        flex-direction: column;
    }
    
    .cards_best_img {

        height: 250px;
    }   

}

@media screen and (max-width: 575px) {
    

    
}

