.card_div {

    border: 1px solid black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards_best {

    border: 1px solid black;
    height: 400px;
    width: 28%;
}

.cards_best_img {

    width: 100%;
    border: 2px solid black;
    height: 360px;
}