.homemain {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.home_one {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


.home_two {

    flex: 1;
}

.homebannerimg {

    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right;
    border-radius: 10px;
}

.home_one-press {

    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.press-logos {

    display: flex;
    flex-direction: row;
    gap: 30px;
    opacity: .5;
    cursor: none;
}

.takecaremain {

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.takecare_one {

    flex: 1;
}

.takecare_two {

    flex: 1;

}

.take_care_div {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.take_care_mid {
    
    display: flex;
    justify-content: center ;
}

.home_step_div {

    position: relative;

}

.home_step_img {

    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.img-step-one {

    position: relative;
    width: 100%;
    height: auto;
    z-index: 99;
}

.home_step_background {

    position: absolute;
    top: 50%;
    background-color: #EDEDED;
    height: 315px;
    width: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column-reverse;
}

.steps {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 20px;
}

.fa-circle-left:hover, .fa-circle-right:hover {

    font-size: 26px;
    transition: all .7s;
}

.home_best {

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.best-seller {

    width: 500px;
}

.inspired_div {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inspired_two_images {

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inspired_img_one {

    width: 30%;
    height: 500px;
    object-fit: cover;
}

.inspired_img_two {

    width: 70%;
    height: 500px;
    object-fit: cover;
}

.inspired_img_three {

    width: 100%;
    height: auto;
    object-fit: cover;
}

.inspired_three {

    position: relative;
}

.inspired_three_content {

    position: absolute;
    top: 50px;
    left: 100px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.special_offer {

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.special_offer1{

    width: 50%;
}


.subscribe_form {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #2b1717;
  padding-bottom: 6px;
}

.subscribe_form input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 13px;
  color: #2b1717;
}

.subscribe_form input::placeholder {
  color: #2b1717;
}



@media screen and (max-width:1299px) {
    
    .home_step_background {

        height: 280px;
    }

    .home_best {

        margin-top: 57px;
    }
}

@media screen and (max-width:1099px) {
    
    .home_step_background {

        height: 258px;
    }

    .home_best {

        margin-top: 57px;
    }
}

@media screen and (max-width: 991px) {
    
    .img-step-one {

        height: 380px
    }

    .home_step_background {

        height: 263px;
    }

    .home_best {

        margin-top: 52px;
    }

    .inspired_img_one {

        height: 450px;
    }

    .inspired_img_two {

        height: 450px;
    }
}

@media screen and (max-width: 767px) {

    .home_step_background {

        height: 263px;
    }

    .home_best {

        margin-top: 52px;
    }

    
    .homebannerimg {

        height: 460px;
    }

    .homemain {

        gap: 20px;
    }

    .take_care_mid {

        gap: 20px;
    }

    .home_one-press {

        gap: 20px;
    }

    .takecaremain {

        gap: 20px;

    }

    .fa-circle-left:hover, .fa-circle-right:hover {

        font-size: 24px;
        transition: all .7s;
    }

    .inspired_img_one {
        
        width: 35%;
        height: 320px;
    }

    .inspired_img_two {

        width: 65%;
        height: 320px;
    }

    .inspired_three_content {

        left: 40px;
    }
    
    .special_offer1 {

        width: 100%;
    }

    .subscribe_form {

        width: 100%;
    }
    
    .special_offer {

        flex-direction: column;
        gap: 20px;
    }

}


@media screen and (max-width: 575px) {

    .fa-circle-left:hover, .fa-circle-right:hover {

        font-size: 14px;
        transition: all .7s;
    }

    .fa-circle-left, .fa-circle-right {

        font-size: 12px !important;
    }

    .img-step-one {

        height: 300px;
    }

    .home_step_background {

        height: 194px;
    }

    .home_best {

        margin-top: 22px;
    }

    .steps {

        padding: 15px;
        gap: 15px;
    }
    
    .homemain {

        flex-direction: column-reverse;
        gap: 15px;
    }

    .home_one {

        width: 100%;
        gap: 15px;
    }

    .home_two {

        width: 100%;
    }

    .homebannerimg {

        object-position: bottom;
    }

    .home_one-press {

        padding: 15px 0px;
        gap: 15px;
    }

    .take_care_mid {

        gap: 15px;
    }

    .takecaremain {

        gap: 15px;
    }

    .take_care_div {

        gap: 15px;
    }

    .text-small-cstm-h3 {

        font-size: 13px;
    }

    .step-1-text {

        font-size: 11px !important;
    }

    .best-seller {

        width: 380px;
    }

    .inspired_img_one {
        
        width: 35%;
        height: 230px;
    }

    .inspired_img_two {

        width: 65%;
        height: 230px;
    }

    .inspired_three_content {

        gap: 10px;
    }

    .inspired_div {

        gap: 15px;
    }

    .special_offer {

        gap: 15px;
    }

    .subscribe_form input{

        font-size: 10px;
    }

}

@media screen and (max-width: 426px) {
    

    .homebannerimg {

        height: 390px;
    }

    .img-step-one {

        height: 250px;
    }

    .home_step_background {

        height: 169px;
    }

    .text-small-cstm-h3 {

        font-size: 12px;
    }

    .step-1-text {

        font-size: 10px !important;
    }

    .best-seller {

        width: 298px;
    }

    .inspired_three_content  {

        left: 18px;
        top: 10px;
        width: 220px;
        color: #000;
    }

    .inspired_img_one {

        height: 160px;
    }
    
    .inspired_img_two {

        height: 160px;
    }
}

