* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.cstm_container {

  width: 100%;
  max-width: 1200px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}